/* 
    this is css comment
*/
body {
    border-color: rgb(255, 191, 0);
    border-width: 2px;
    border-style: dashed;
     
        background-image: url(https://img.freepik.com/free-photo/shiny-golden-particles-with-light-streak_1017-32797.jpg);
        background-position: 10%;
   /* background-repeat: no-repeat; */
    background-size: cover;
}
h1{
    /* border-bottom: 0cap;
    border-width: 5px;
    border-style: SOLID; 
    */
    color: rgb(255, 179, 0);
}
h2{
    color: rgb(255, 179, 0);
}
h4{
    color: rgb(255, 179, 0);
}
img{
    border: groove 10px gold;
}
center a{
    color: red;
    background-color: rgb(255, 153, 0);
}